/* サイドバーのスタイル */
.sidebar {
	width: 150px; /* サイドバーの固定幅 */
	padding: 2px 0;
	padding-left: 0px;
	flex-shrink: 0; /* サイドバーは縮まない */
	height: fit-content; /* コンテンツの高さに合わせて、不必要な空白をなくす */
	min-height: 400px;
	margin-right: 2px; /* コンテンツエリアとの間隔 */
	border-right: 1px solid #e7e7e7;
}

.side-bar {
	padding-right: 5px;
}

.sidebar ul {
	list-style: none;
}

.sidebar li {
	margin-bottom: 5px;
}

.sidebar li a {
	font-size: 16px;
}

nav a {
	text-decoration: underline;
}